# .NET
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# Env / Secrets
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db